<p>原谅话也不讲半句</p>
<p>此刻生命在凝聚</p>
<p>过去你曾寻过</p>
<p>某段失去了的声音</p>
<p>落日远去人期望</p>
<p>留住青春的一刹</p>
<p>风雨思念置身梦里</p>
<p>总会有唏嘘</p>
<p>若果他朝此生不可与你</p>
<p>哪管生命是无奈</p>
<p>过去也曾尽诉</p>
<p>往日心里爱的声音</p>
<p>就像隔世人期望</p>
<p>重拾当天的一切</p>
<p>此世短暂转身步过</p>
<p>萧刹了的空间</p>
<p>只求望一望</p>
<p>让爱火永远的高烧</p>
<p>青春请你归来</p>
<p>再伴我一会</p>
<p>原谅话也不讲半句</p>
<p>此刻生命在凝聚</p>
<p>过去你曾寻过</p>
<p>某段失去了的声音</p>
<p>落日远去人期望</p>
<p>留住青春的一刹</p>
<p>风雨思念置身梦里</p>
<p>总会有唏嘘</p>
<p>只求望一望</p>
<p>让爱火永远的高烧</p>
<p>青春请你归来</p>
<p>再伴我一会</p>
<p>若果他朝此生不可与你</p>
<p>哪管生命是无奈</p>
<p>过去也曾尽诉</p>
<p>往日心里爱的声音</p>
<p>就像隔世人期望</p>
<p>重拾当天的一切</p>
<p>此世短暂转身步过</p>
<p>萧刹了的空间</p>
<p>此世短暂转身步过</p>
<p>萧刹了的空间</p>
